<link rel="preload" href="{{root}}fonts/cormorant-garamond-var.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}fonts/manrope-var.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{root}}css/style.min.css?v={{cssVersion}}">

  <meta name="theme-color" content="#16110D">
  <link rel="icon" type="image/svg+xml" href="{{root}}img/favicon.svg">
  <link rel="apple-touch-icon" href="{{root}}img/apple-touch-icon.webp">
  <link rel="manifest" href="{{root}}manifest.webmanifest">
